*{
    box-sizing: border-box;
}
html{
    background-color:rgb(20,30,40);
}
form {
    display:flex;
    flex-flow: row wrap;                
}
body{
    width: 80%;
    background-color: powderblue;
    margin: auto;
    padding: 30px;
}

form > fieldset{
    flex: 1 1 400px;
    max-width: 600px;
}
div{
    display:flex;
    flex-flow: row wrap;                
}
div>label{
    flex: 1 1 100px;
    margin: 10px 10px;                
}
div>span, div>input, div>select{
    flex: 3 1 100px;
    margin: 10px 10px;                
}
legend{
    background-color: royalblue;
    padding: 8px;
    border-radius: 0.5em;
    color:whitesmoke;
}

#check{
    columns: 1;
}

img{
    width: 100%;
    height: 30vh;
    object-fit: cover;
}
div#image_style, div#image_target{
    visibility: hidden;
}

div#image_target{
    overflow: hidden;
}

span#button{
    columns: 1;
}

